<script>
import { mavonEditor } from 'mavon-editor';
import 'mavon-editor/dist/css/index.css';

export default {
  components: {
    MavonEditor: mavonEditor,
  },
  data() {
    return {
      text: '',
    };
  },
};
</script>

<template>
  <div>
    <MavonEditor v-model="text"></MavonEditor>
  </div>
</template>

<style lang="scss" scoped>
h1 {
  font-size: 100px;

  &.hero {
    padding: 1rem;
  }
}
</style>
